<div id="content"  class="m-5 text-center">
 <h1 class="text-shadow  display-4 h1-responsive">
               {{{__ "Ошибка страница не найдена!!!"}}}
            </h1>

<h1>{{message}}</h1>
{{!--
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
--}}
</div>