
<br>	

<form action="https://app.megacom.kg:9090/min_obr_sms">
  <label for="servidname">Сервис ID:</label><br>
  <input type="text" id="servid" name="servid" value="5208"><br>
  <label for="msisdnname">Телефон абитуриента:</label><br>
  <input type="text" id="msisdn" name="msisdn" value="996701888588"><br>
  <label for="msgname">Сообщение:</label><br>
  <input type="text" id="msg" name="msg" value="MON KR. Уважаемый Нурлан Жолдошевич"><br><br>
  <input type="submit" value="Submit">
</form> 

