<div id="content">
            <div class="text-center py-3 mt-4">
          <h4 class="color-blue font-weight-normal">{{{__ "Нормативная правовая база"}}}</h4>
         </div>


    <div class="media animated fadeIn position-relative mx-5 mt-3 link_border p-2">

        <img class="mr-2" style="height: 50px;" src="img/docs.png" alt="image">

        <div class="media-body">

            <a target="_blank" href="/docs/poloj_1.doc" class="stretched-link"> ПОЛОЖЕНИЕ об отборе и зачислении абитуриентов в
                высшие
                учебные заведения Кыргызской Республики по
                результатам общереспубликанского тестирования.</a>
        </div>
    </div>
    <div class="media animated fadeIn position-relative mx-5 mt-3 link_border p-2">

        <img class="mr-2" style="height: 50px;" src="img/docs.png" alt="image">

        <div class="media-body">

            <a target="_blank" href="/docs/poloj_2.doc" class="stretched-link"> ПОЛОЖЕНИЕ
о государственных образовательных грантах для обучения студентов в государственных высших учебных заведениях Кыргызской Республики
</a>
        </div>
    </div>
    <div class="media animated fadeIn position-relative mx-5 mt-3 link_border p-2">

        <img class="mr-2" style="height: 50px;" src="img/docs.png" alt="image">

        <div class="media-body">

            <a target="_blank" href="/docs/poryadoc_2.doc" class="stretched-link">ПОРЯДОК
приема в высшие учебные заведения Кыргызской Республики
</a>
        </div>
    </div>
        <div class="media animated fadeIn position-relative mx-5 mt-3 link_border p-2">

        <img class="mr-2" style="height: 50px;" src="img/docs.png" alt="image">

        <div class="media-body">

            <a target="_blank" href="/listdocsenrol" class="stretched-link">Перечень необходимых документов для поступления вуз</a>
        </div>
    </div>
</div>
