<div id="content">
    <div class="big_blur_content">
       Инструкции пользователей.
    </div>

    <div class="media animated fadeIn position-relative mx-5 mt-3">
        <div class="media-body">
<div class="text-center embed-responsive embed-responsive-16by9">

            <iframe class="embed-responsive-item" width="420" height="315" src="https://www.youtube.com/embed/s7tOEk1J-kM" frameborder="0" allowfullscreen></iframe>
</div>
           
<h6 class="display-6">Видео инструкция по заполнении "Плана набора" и состава приемной комиссии </h6>
        </div>
    </div>
 



